@info:#2db7f5;
@success:#19be6b;
@warning:#ff9900;
@error:#ed4014;

@font2:#808695;
@border:#dcdee2;
*{
  box-sizing: border-box;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}