@info:#2db7f5;
@success:#19be6b;
@warning:#ff9900;
@error:#ed4014;

@title:#1f3349;
@font:#808695;
@border:#d9d9d9;
@bgColor:#f4f7fb;

.flex(
  @justify: space-between,
  @alignItem: center,
  @direction: row,
  @alignContent: flex-start
){
  display: flex;
  flex-wrap:wrap;
  justify-content: @justify;
  align-items: @alignItem;
  flex-direction: @direction;
  align-content:@alignContent;
}

html{
  min-height: 100vh;
  min-width: 100vw;
  background-color: @bgColor;
}

input, textarea {
  width: 100%;
  display: block;
  border: .01rem solid @border;
  padding: .04rem .11rem;
  min-height: .32rem;
  color: rgba(0,0,0,.65);
  font-size: .14rem;
  border-radius: .04rem;
  background-color: #fff;
  resize: none;
  &::placeholder{
    color: rgba(0,0,0,.45);
  }
  &:disabled{
    cursor: no-drop
  }
  &:focus,&:hover{
    outline: none;
    border-color: @info;
    border-right-width: 1px!important;
  }
}